@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Serum</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->

    <link href="~/css/addproduct.css" rel="stylesheet" />
    <!-- Custom CSS -->
  
</head>
<body>

    <div class="card">
        <div class="container">
            <h2 class="mb-4">DELETE product</h2>
            <form action="/products/delete" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="code">product code:</label>
                    <input type="text" class="form-control" id="code" name="code" required>
                </div>


                <button type="submit" class="btn btn-success btn-submit"> DELETE</button>
            </form>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
